/.venv
/best.pt
/build
/bunto.jpg
/bunto2.jpg
/cat_colors.csv
/cat_colors_gmm_clustered.csv
/cat_colors_gmm_clustered2.csv
/cat_color_classifier.pkl
/cluster_summary.json
/datasets
/dist
/epoch3000.pt
/GUI.exe
/last.pt
/motorControlServer.spec
/output
/runs
/summary.json
/training.py
/yolo11m-seg.pt
/yolo11n-seg.pt
/yolo11n-seg.torchscript
/yolo11n-seg_ncnn_model
/yolo11n.pt
/yolo11n.torchscript
/yolo11n_ncnn_model
/yolov8n-seg_ncnn_model